<header class="cm-header">
  <div class="cm-header__top">
    <a href="#">
      <div class="cm-logo">
        <img
          src="../assets/img/favicon.png"
          alt="KursMania Logo"
          class="cm-logo__img"
        />
        <h1 class="cm-logo__text">KursMania</h1>
      </div>
    </a>
    <div class="cm-search">
      <form action="#" class="cm-search__form">
        <input
          type="text"
          name="q"
          placeholder="Pretražite kurseve"
          value=""
          class="cm-search__input"
          autocomplete="off"
        />
        <button type="submit" class="cm-search__btn">
          <svg class="cm-search__icon">
            <use xlink:href="../assets/svg/icons.svg#icon-search"></use>
          </svg>
        </button>
      </form>
      <div class="cm-search__results">
        <ul class="cm-search__list">
          <li class="cm-search__item">
            <i class="fa fa-search" aria-hidden="true"></i> Autor
          </li>
          <li class="cm-search__item">
            <i class="fa fa-search" aria-hidden="true"></i> Kurs 1
          </li>
          <li class="cm-search__item">
            <i class="fa fa-search" aria-hidden="true"></i> Kurs 2
          </li>
          <li class="cm-search__item">
            <i class="fa fa-search" aria-hidden="true"></i> Kategorija
          </li>
          <li class="cm-search__item">
            <i class="fa fa-search" aria-hidden="true"></i> Kurs 2
          </li>
        </ul>
      </div>
    </div>
    <nav class="cm-categories">
      <button class="cm-categories__btn">
        Kategorije
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </button>
      <div class="cm-categories__hidden">
        <ul class="cm-categories__list">
          <li class="cm-categories__item">
            <a href="#" class="cm-categories__link">IT & Softver</a>
          </li>
          <li class="cm-categories__item">
            <a href="#" class="cm-categories__link">Biznis</a>
          </li>
          <li class="cm-categories__item">
            <a href="#" class="cm-categories__link">Marketing</a>
          </li>
          <li class="cm-categories__item">
            <a href="#" class="cm-categories__link">Dizajn</a>
          </li>
          <li class="cm-categories__item">
            <a href="#" class="cm-categories__link">Fotografija & video</a>
          </li>
          <li class="cm-categories__item">
            <a href="#" class="cm-categories__link">Muzika</a>
          </li>
          <li class="cm-categories__item">
            <a href="#" class="cm-categories__link">Zdravlje</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="cm-user">
      <div class="cm-user__card">
        <div class="cm-user__card--container">
          <svg class="cm-user__card--icon">
            <use xlink:href="../assets/svg/icons.svg#icon-cart"></use>
          </svg>
        </div>
        <div class="cm-user__card--content">
          <p>Vaša korpa je prazna.</p>
          <a href="#">Prijavite se</a>
        </div>
      </div>
      <button class="cm-btn">Prijava</button>
      <button class="cm-btn">Registracija</button>
    </div>
    <div class="cm-navigation">
      <input type="checkbox" id="menu" class="cm-navigation__checkbox" />
      <label for="menu" class="cm-navigation__label">
        <div class="cm-navigation__button">
          <span class="cm-navigation__icon"></span>
        </div>
      </label>
      <div class="cm-navigation__items">
        <ul class="cm-navigation__list">
          <li class="cm-navigation__item">
            <input
              type="checkbox"
              id="sub-menu"
              class="cm-navigation__checkbox"
              checked
            />
            <label for="sub-menu" class="cm-navigation__label">
              Kategorije
              <i
                class="fa fa-angle-down cm-navigation__angle"
                aria-hidden="true"
              ></i>
            </label>
            <ul class="cm-navigation__sub-list">
              <li class="cm-navigation__sub-item">IT & Softver</li>
              <li class="cm-navigation__sub-item">Biznis</li>
              <li class="cm-navigation__sub-item">Marketing</li>
              <li class="cm-navigation__sub-item">Dizajn</li>
              <li class="cm-navigation__sub-item">Fotografija & video</li>
              <li class="cm-navigation__sub-item">Muzika</li>
              <li class="cm-navigation__sub-item">Zdravlje</li>
            </ul>
          </li>
          <li class="cm-navigation__item">Prijava</li>
          <li class="cm-navigation__item">Registracija</li>
        </ul>
      </div>
    </div>
  </div>
</header>