<header class="cm-header">
  <div class="cm-header__top">
    <a [routerLink]="['/']">
      <div class="cm-logo">
        <img
          src="../assets/img/favicon.png"
          alt="KursMania Logo"
          class="cm-logo__img"
        />
        <h1 class="cm-logo__text">KursMania</h1>
      </div>
    </a>

    <div style="flex: 0 0 60%">
      <app-search-bar></app-search-bar>
    </div>

    <nav class="cm-categories">
      <button class="cm-categories__btn">
        Kategorije
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </button>
      <div class="cm-categories__hidden">
        <ul class="cm-categories__list">
          <li class="cm-categories__item" *ngFor="let kategorija of kategorije">
            <a class="cm-categories__link">{{ kategorija.KATEGORIJA_NAZIV }}</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="cm-user">
      <div class="cm-user__card">
        <div class="cm-user__card--container">
          <svg class="cm-user__card--icon">
            <use xlink:href="../assets/svg/icons.svg#icon-cart"></use>
          </svg>
        </div>
        <div class="cm-user__card--content">
          <p>Vaša korpa je prazna.</p>
          <a *ngIf="!isAuthentificated" [routerLink]="['/prijava']"
            >Prijavite se</a
          >
        </div>
      </div>
      <a *ngIf="!isAuthentificated" [routerLink]="['/prijava']"
        ><button class="cm-btn">Prijava</button></a
      >
      <a *ngIf="!isAuthentificated" [routerLink]="['/registracija']"
        ><button class="cm-btn">Registracija</button></a
      >
      <a *ngIf="isAuthentificated" [routerLink]="['/nalog']">
        <img
          src="{{ student?.KORISNIK_AVATAR }}"
          alt="{{ student?.KORISNIK_IME }}"
          class="cm-user__avatar"
        />
      </a>
      <button *ngIf="isAuthentificated" class="cm-btn" (click)="onLogOut()">
        Odjava
      </button>
    </div>
    <div class="cm-navigation">
      <input
        type="checkbox"
        id="menu"
        class="cm-navigation__checkbox"
        [checked]="showMenu"
        (change)="showMenu = !showMenu"
      />
      <label for="menu" class="cm-navigation__label">
        <div class="cm-navigation__button">
          <span class="cm-navigation__icon"></span>
        </div>
      </label>
      <div class="cm-navigation__items">
        <ul class="cm-navigation__list">
          <li class="cm-navigation__item">
            <form #searchForm="ngForm" (submit)="onSubmit(searchForm)" class="cm-search__form-small">
              <input
                type="text"
                name="q"
                placeholder="Pretražite kurseve"
                value=""
                #search
                ngModel
                class="cm-search__input-small"
                autocomplete="off"
                required
              />
            </form>
          </li>
          <li class="cm-navigation__item">
            <a [routerLink]="['/']" (click)="showMenu = !showMenu">Početna</a>
          </li>
          <li *ngIf="isAuthentificated" class="cm-navigation__item">
            <a [routerLink]="['/nalog']" class="cm-navigation__flex" (click)="showMenu = !showMenu">
              <img
                src="{{ student?.KORISNIK_AVATAR }}"
                alt="{{ student?.KORISNIK_IME }}"
                class="cm-user__avatar-small"
              />
              <span class="cm-user__name">{{ student?.KORISNIK_IME }}</span>
            </a>
          </li>
          <li class="cm-navigation__item">
            <input
              type="checkbox"
              id="sub-menu"
              class="cm-navigation__checkbox"
              checked
            />
            <label for="sub-menu" class="cm-navigation__label">
              Kategorije
              <i
                class="fa fa-angle-down cm-navigation__angle"
                aria-hidden="true"
              ></i>
            </label>
            <ul class="cm-navigation__sub-list">
              <li
                class="cm-navigation__sub-item"
                *ngFor="let kategorija of kategorije"
              >
                <a (click)="showMenu = !showMenu">{{
                  kategorija.KATEGORIJA_NAZIV
                }}</a>
              </li>
            </ul>
          </li>
          <li *ngIf="!isAuthentificated" class="cm-navigation__item">
            <a [routerLink]="['/prijava']" (click)="showMenu = !showMenu"
              >Prijava</a
            >
          </li>
          <li *ngIf="!isAuthentificated" class="cm-navigation__item">
            <a [routerLink]="['/registracija']" (click)="showMenu = !showMenu"
              >Registracija</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>