<footer class="cm-footer">
  <div class="cm-footer__widgets">
    <div class="cm-footer__container">
      <div class="cm-footer__wrapper">
        <div class="cm-footer__row">
          <div class="cm-footer__col">
            <div class="cm-footer__text">
              <p>
                <img
                  src="../../assets/img/logo-white.png"
                  alt="Logo white"
                  class="cm-footer__img"
                />
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                alias, quos adipisci delectus vel consectetur eum quidem dicta
                ipsam ex.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium nobis eum pariatur.
              </p>
            </div>
          </div>
          <div class="cm-footer__col">
            <h4>Bitni linkovi</h4>
            <div class="cm-footer__menu-container">
              <ul class="cm-footer__menu">
                <li class="cm-footer__menu-item"><a href="#">O nama</a></li>
                <li class="cm-footer__menu-item"><a href="#">Kontakt</a></li>
                <li class="cm-footer__menu-item"><a href="#">FAQ</a></li>
                <li class="cm-footer__menu-item"><a href="#">Autori</a></li>
                <li class="cm-footer__menu-item"><a href="#">Kursevi</a></li>
              </ul>
            </div>
          </div>
          <div class="cm-footer__col">
            <h4>Kontakt info</h4>
            <div class="cm-footer__contact-info">
              <ul>
                <li>
                  <span class="cm-footer__contact-icon">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                  </span>
                  <span class="cm-footer__content">
                    <span class="cm-footer__heading">Lokacija:</span>
                    <span class="cm-footer__details"
                      >Marka Markovića 23a, 11000 Beograd</span
                    >
                  </span>
                </li>
                <li>
                  <span class="cm-footer__contact-icon">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                  </span>
                  <span class="cm-footer__content">
                    <span class="cm-footer__heading">Telefon:</span>
                    <span class="cm-footer__details">+381 011 322 543</span>
                  </span>
                </li>
                <li>
                  <span class="cm-footer__contact-icon">
                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                  </span>
                  <span class="cm-footer__content">
                    <span class="cm-footer__heading">Email:</span>
                    <span class="cm-footer__details"
                      >helpdesk@kursmania.rs</span
                    >
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cm-footer__site-info">
    <p>© 2020, All Rights Reserved.</p>
  </div>
</footer>
