<section class="cm-courses">
  <h1 class="cm-heading">
    <span class="cm-heading__main">Pogledajte neke od najpopularnijih kurseva</span>
    <span class="cm-heading__sub">Popularni kursevi</span>
    <span class="cm-heading__hr"></span>
    <span class="cm-all-categories__hr"></span>
  </h1>

  <div class="cm-courses__container">
    <div class="cm-courses__content">
      <div class="cm-courses__list">

        <div class="cm-course-item" *ngFor="let kurs of kursevi; let i = index">
          <div class="cm-course-item__thumbnail">
            <img
              src="{{ kurs.KURS_SLIKA }}"
              alt="{{ kurs.KURS_IME }}"
              class="cm-course-item__img"
            />
            <div class="cm-course-item__hidden">
              <button class="cm-btn" [routerLink]="['/kurs', kurs.KURS_ID]">Detalji</button>
            </div>
            <span class="cm-course-item__popular">Popularan</span>
            <span class="cm-course-item__price">$ {{ kurs.KURS_CENA }}</span>
            <span class="cm-course-item__rating">
              <span class="average">4.5</span>
              <i class="fa fa-star active" aria-hidden="true"></i>
              <i class="fa fa-star active" aria-hidden="true"></i>
              <i class="fa fa-star active" aria-hidden="true"></i>
              <i class="fa fa-star active" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <span class="count">(32)</span>
            </span>
          </div>
          <div class="cm-course-item__details">
            <h3>{{ kurs.KURS_IME }}</h3>
            <div class="cm-course-item__info">
              <span>
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                <a [routerLink]="['/autor', kurs.AUTOR_ID]" (onCreate)="getAuthor(kurs.AUTOR_ID)"></a>
              </span>
              <span (onCreate)="getNumberOfStudents(kurs.KURS_ID)">
                <i class="fa fa-users" aria-hidden="true"></i>
                
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
