<section class="cm-login">
  <div class="cm-login__container">
    <div class="cm-login__content">
      <h1 class="cm-login__heading">Prijava</h1>
      <form action="#" method="POST" class="cm-login__form">
        <div class="cm-login__control">
          <label for="email" class="cm-login__label">Email adresa</label>
          <input
            type="email"
            id="email"
            name="email"
            class="cm-login__input"
            required
          />
        </div>
        <div class="cm-login__control">
          <label for="password" class="cm-login__label">Lozinka</label>
          <input
            type="password"
            id="password"
            name="password"
            class="cm-login__input"
            required
          />
        </div>
        <div class="cm-login__control">
          <input
            type="checkbox"
            name="remember"
            id="remember"
            class="cm-login__checkbox"
          />
          <label for="remember" class="cm-login__check-container">
            <span class="cm-login__checkmark"></span>
            Ostanite prijavljeni
          </label>
        </div>
        <div class="cm-login__control">
          <button type="submit" class="cm-btn cm-login__submit">
            Prijava
          </button>
        </div>
      </form>
      <p class="cm-login__login">
        Nemate nalog?
        <a class="cm-login__link" [routerLink]="['/registracija']">Registrujte se</a>
      </p>
      <p class="cm-login__login">
        <a href="#" class="cm-login__link">Zaboravljena lozinka?</a>
      </p>
    </div>
  </div>
</section>