<section class="cm-all-categories">
  <h1 class="cm-heading">
    <span class="cm-heading__main">Dobrodošli na KursManiju.</span>
    <span class="cm-heading__sub">Kategorije Kurseva</span>
    <span class="cm-heading__hr"></span>
  </h1>
  <div class="cm-categories-list">
    <div class="cm-categories-item" tabindex="0" *ngFor="let kategorija of kategorije">
        <img
          src="{{ kategorija.KATEGORIJA_SLIKA }}"
          alt="Kategorija - {{ kategorija.KATEGORIJA_NAZIV }}"
          class="cm-categories-img"
        />
        <div class="cm-categories-desc">
          <h4>{{ kategorija.KATEGORIJA_NAZIV }}</h4>
          <p>Kurseva</p>
        </div>
    </div>
  </div>
</section>