<section class="cm-course">
    <div class="cm-course__container">
      <div class="cm-course__row">
        <div class="cm-course__primary">
          <article class="cm-course__content">
            <div class="cm-course__header">
              <h1>Naslov</h1>
              <div class="cm-course__meta">
                <div class="cm-course__author">
                  <img src="../assets/img/autor-4.jpg" alt="Autor" class="cm-course__author-avatar">
                  <div class="cm-course__author-contain">
                    <label class="cm-course__author-job">Profesor</label>
                    <div class="cm-course__author-name">
                      <a href="#">Nikola Nikolic</a>
                    </div>
                  </div>
                </div>
                <div class="cm-course__category">
                  <label>Kategorija</label>
                  <div class="cm-course__category-name">
                    <a href="#" class="cm-course__category-link">IT & Softver</a>
                  </div>
                </div>
                <div class="cm-course__review">
                  <label>Ocene</label>
                  <span class="cm-course__review-average">4.4</span>
                  <div class="cm-course__stars">
                    <i class="fa fa-star active" aria-hidden="true"></i>
                    <i class="fa fa-star active" aria-hidden="true"></i>
                    <i class="fa fa-star active" aria-hidden="true"></i>
                    <i class="fa fa-star active" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                  <span class="cm-course__review-count">(56)</span>
                </div>
              </div>
              <div class="cm-course__payment">
                <div class="cm-course__price">
                  <span class="cm-course__price-old">29.99$</span>
                  <span class="cm-course__price-new">11.99$</span>
                </div>
                <div class="cm-course__button">
                  <button class="cm-btn">Kupite ovaj kurs</button>
                </div>
              </div>
            </div>
            <div class="cm-course__thumbnail">
              <img src="../assets/img/course-javascript.jpg" alt="Javascript thumbnail" class="cm-course__thumbnail-img">
            </div>
            <div class="cm-course__tabs">
              <ul class="cm-course__tabs-nav">
                <li class="cm-course__tabs-tab" [ngClass]="{'active': overviewVisibility}" (click)="showTab(1)"><span class="cm-course__tabs-tab-text">Pregled</span></li>
                <li class="cm-course__tabs-tab" [ngClass]="{'active': contentVisibility}" (click)="showTab(2)"><span class="cm-course__tabs-tab-text">Sadržaj</span></li>
                <li class="cm-course__tabs-tab" [ngClass]="{'active': authorVisibility}" (click)="showTab(3)"><span class="cm-course__tabs-tab-text">Autor</span></li>
                <li class="cm-course__tabs-tab" [ngClass]="{'active': reviewsVisibility}" (click)="showTab(4)"><span class="cm-course__tabs-tab-text">Ocene</span></li>
              </ul>
              <div class="cm-course__overview" [ngStyle]="{'display': overviewVisibility ? 'block' : 'none'}">
                <div class="cm-course__row">
                  <div class="cm-course__overview-text">
                    <div class="cm-course__overview-desc">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.</p>
                      <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English.</p>
                    </div>
                  </div>
                  <div class="cm-course__overview-info">
                    <h3>Karakteristike</h3>
                    <ul>
                      <li>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span class="cm-course__overview-info-label">Studenti</span>
                        <span class="cm-course__overview-info-value">151</span>
                      </li>
                      <li>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span class="cm-course__overview-info-label">Trajanje</span>
                        <span class="cm-course__overview-info-value">22h 5m</span>
                      </li>
                      <li>
                        <i class="fa fa-level-up" aria-hidden="true"></i>
                        <span class="cm-course__overview-info-label">Veštine</span>
                        <span class="cm-course__overview-info-value">Programiranje</span>
                      </li>
                      <li>
                        <i class="fa fa-language" aria-hidden="true"></i>
                        <span class="cm-course__overview-info-label">Jezik</span>
                        <span class="cm-course__overview-info-value">Srpski</span>
                      </li>
                      <li>
                        <i class="fa fa-undo" aria-hidden="true"></i>
                        <span class="cm-course__overview-info-label">Povraćaj novca</span>
                        <span class="cm-course__overview-info-value">1 mesec</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="cm-course__content2" [ngStyle]="{'display': contentVisibility ? 'block' : 'none'}">
                <p class="cm-course__content2-heading">Sadržaj kursa</p>
                <div class="cm-course__content2-collapsible">
                  <input type="checkbox" id="sekcija1" class="cm-course__content2-collapsible-checkbox" checked>
                  <label for="sekcija1" class="cm-course__content2-collapsible-label">
                    <div class="cm-course__content2-collapsible-header">
                      <h1 class="cm-course__content2-collapsible-heading">Uvod</h1>
                      <i class="fa fa-plus cm-course__content2-collapsible-icon" aria-hidden="true"></i>
                    </div>
                  </label>
                  <div class="cm-course__content2-collapsible-content">
                    <ul class="cm-course__content2-collapsible-list">
                      <li class="cm-course__content2-collapsible-item">
                        <div class="cm-course__content2-collapsible-video">
                          <div>
                            <i class="fa fa-play-circle cm-course__content2-collapsible-video-play" aria-hidden="true"></i>
                            <p class="cm-course__content2-collapsible-video-name">Video 1</p>
                          </div>
                          <p class="cm-course__content2-collapsible-video-length">01:43</p>
                        </div>
                      </li>
                      <li class="cm-course__content2-collapsible-item">
                        <div class="cm-course__content2-collapsible-video">
                          <div>
                            <i class="fa fa-play-circle cm-course__content2-collapsible-video-play" aria-hidden="true"></i>
                            <p class="cm-course__content2-collapsible-video-name">Video 2</p>
                          </div>
                          <p class="cm-course__content2-collapsible-video-length">02:55</p>
                        </div>
                      </li>
                      <li class="cm-course__content2-collapsible-item">
                        <div class="cm-course__content2-collapsible-video">
                          <div>
                            <i class="fa fa-play-circle cm-course__content2-collapsible-video-play" aria-hidden="true"></i>
                            <p class="cm-course__content2-collapsible-video-name">Video 3</p>
                          </div>
                          <p class="cm-course__content2-collapsible-video-length">03:34</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="cm-course__content2-collapsible">
                  <input type="checkbox" id="sekcija2" class="cm-course__content2-collapsible-checkbox">
                  <label for="sekcija2" class="cm-course__content2-collapsible-label">
                    <div class="cm-course__content2-collapsible-header">
                      <h1 class="cm-course__content2-collapsible-heading">JavaScript osnove</h1>
                      <i class="fa fa-plus cm-course__content2-collapsible-icon" aria-hidden="true"></i>
                    </div>
                  </label>
                  <div class="cm-course__content2-collapsible-content">
                    <ul class="cm-course__content2-collapsible-list">
                      <li class="cm-course__content2-collapsible-item">
                        <div class="cm-course__content2-collapsible-video">
                          <div>
                            <i class="fa fa-play-circle cm-course__content2-collapsible-video-play" aria-hidden="true"></i>
                            <p class="cm-course__content2-collapsible-video-name">Video 1</p>
                          </div>
                          <p class="cm-course__content2-collapsible-video-length">01:43</p>
                        </div>
                      </li>
                      <li class="cm-course__content2-collapsible-item">
                        <div class="cm-course__content2-collapsible-video">
                          <div>
                            <i class="fa fa-play-circle cm-course__content2-collapsible-video-play" aria-hidden="true"></i>
                            <p class="cm-course__content2-collapsible-video-name">Video 2</p>
                          </div>
                          <p class="cm-course__content2-collapsible-video-length">02:55</p>
                        </div>
                      </li>
                      <li class="cm-course__content2-collapsible-item">
                        <div class="cm-course__content2-collapsible-video">
                          <div>
                            <i class="fa fa-play-circle cm-course__content2-collapsible-video-play" aria-hidden="true"></i>
                            <p class="cm-course__content2-collapsible-video-name">Video 3</p>
                          </div>
                          <p class="cm-course__content2-collapsible-video-length">03:34</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="cm-course__author-info" [ngStyle]="{'display': authorVisibility ? 'block' : 'none'}">
                <h3 class="cm-course__author-info-heading">Autor</h3>
                <div class="cm-course__author-info-row">
                  <div class="cm-course__author-info-avatar">
                    <img src="../../assets/img/max.jpg" alt="Max" class="cm-course__author-info-img">
                  </div>
                  <div class="cm-course__author-info-content">
                    <h3 class="cm-course__author-info-name">Maximilian Schwarzmüller</h3>
                    <p class="cm-course__author-info-details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt officia suscipit quo id soluta quisquam perspiciatis fugiat nostrum aut assumenda. Minus, itaque explicabo amet blanditiis nisi iure excepturi voluptas culpa!</p>
                    <button class="cm-btn">Detaljnije</button>
                  </div>
                </div>
              </div>
              <div class="cm-course__reviews" [ngStyle]="{'display': reviewsVisibility ? 'block' : 'none'}">
                <h3 class="cm-course__reviews-heading">Ocene kursa</h3>
                <p class="cm-course__reviews-average">Prosek je 5.00 na osnovu 1 ocene.</p>
                <div class="cm-course__reviews-rate">
                  <i aria-hidden="true" class="fa fa-star active"></i>
                  <i aria-hidden="true" class="fa fa-star active"></i>
                  <i aria-hidden="true" class="fa fa-star active"></i>
                  <i aria-hidden="true" class="fa fa-star active"></i>
                  <i aria-hidden="true" class="fa fa-star active"></i>
                  <div class="cm-course__reviews-bar">
                    <div class="cm-course__reviews-progress" style="width: 100%;"></div>
                  </div>
                  <span>100%</span>
                </div>
                <div class="cm-course__reviews-rate">
                  <i aria-hidden="true" class="fa fa-star active"></i>
                  <i aria-hidden="true" class="fa fa-star active"></i>
                  <i aria-hidden="true" class="fa fa-star active"></i>
                  <i aria-hidden="true" class="fa fa-star active"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <div class="cm-course__reviews-bar">
                    <div class="cm-course__reviews-progress" style="width: 80%;"></div>
                  </div>
                  <span>80%</span>
                </div>
                <div class="cm-course__reviews-rate">
                  <i aria-hidden="true" class="fa fa-star active"></i>
                  <i aria-hidden="true" class="fa fa-star active"></i>
                  <i aria-hidden="true" class="fa fa-star active"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <div class="cm-course__reviews-bar">
                    <div class="cm-course__reviews-progress" style="width: 60%;"></div>
                  </div>
                  <span>60%</span>
                </div>
                <div class="cm-course__reviews-rate">
                  <i aria-hidden="true" class="fa fa-star active"></i>
                  <i aria-hidden="true" class="fa fa-star active"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <div class="cm-course__reviews-bar">
                    <div class="cm-course__reviews-progress" style="width: 40%;"></div>
                  </div>
                  <span>40%</span>
                </div>
                <div class="cm-course__reviews-rate">
                  <i aria-hidden="true" class="fa fa-star active"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <div class="cm-course__reviews-bar">
                    <div class="cm-course__reviews-progress" style="width: 20%;"></div>
                  </div>
                  <span>20%</span>
                </div>
                <div class="cm-course__reviews-comments">
                  <h3 class="cm-course__reviews-heading">Komentari</h3>
                  <ul class="cm-course__reviews-comments-list">
                    <li class="cm-course__reviews-comments-item">
                      <div class="cm-course__reviews-comments-info">
                        <div class="cm-course__reviews-comments-avatar">
                          <img src="../../assets/img/autor-1.jpg" alt="Autor" class="cm-course__reviews-comments-img">
                        </div>
                        <div class="cm-course__reviews-comments-details">
                          <h4 class="cm-course__reviews-comments-name">Marina Kilibarda</h4>
                          <div class="cm-course__reviews-comments-stars">
                            <i aria-hidden="true" class="fa fa-star active"></i>
                            <i aria-hidden="true" class="fa fa-star active"></i>
                            <i aria-hidden="true" class="fa fa-star active"></i>
                            <i aria-hidden="true" class="fa fa-star active"></i>
                            <i aria-hidden="true" class="fa fa-star active"></i>
                          </div>
                          <p class="cm-course__reviews-comments-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt modi odit iusto. Nisi, quibusdam fuga!</p>
                        </div>
                      </div>
                    </li>
                    <li class="cm-course__reviews-comments-item">
                      <div class="cm-course__reviews-comments-info">
                        <div class="cm-course__reviews-comments-avatar">
                          <img src="../../assets/img/autor-2.jpg" alt="Autor" class="cm-course__reviews-comments-img">
                        </div>
                        <div class="cm-course__reviews-comments-details">
                          <h4 class="cm-course__reviews-comments-name">Jana Jukić</h4>
                          <div class="cm-course__reviews-comments-stars">
                            <i aria-hidden="true" class="fa fa-star active"></i>
                            <i aria-hidden="true" class="fa fa-star active"></i>
                            <i aria-hidden="true" class="fa fa-star active"></i>
                            <i aria-hidden="true" class="fa fa-star active"></i>
                            <i aria-hidden="true" class="fa fa-star"></i>
                          </div>
                          <p class="cm-course__reviews-comments-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste dolorem vel velit consectetur ea delectus commodi quo esse recusandae minus voluptas sit, libero quis ratione est deserunt pariatur officiis, eligendi ex, architecto maiores suscipit culpa!</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="cm-course__related">
              <h3 class="cm-course__related-heading">Preporučeni kursevi</h3>
              <div class="cm-course__related-list">
                <div class="cm-course-item">
                  <div class="cm-course-item__thumbnail">
                    <img
                      src="../assets/img/course-javascript.jpg"
                      alt="Course - Javascript"
                      class="cm-course-item__img"
                    />
                    <div class="cm-course-item__hidden">
                      <button class="cm-btn">Detalji</button>
                    </div>
                    <span class="cm-course-item__popular">Popularan</span>
                    <span class="cm-course-item__price">$11.99</span>
                    <span class="cm-course-item__rating">
                      <span class="average">4.5</span>
                      <i class="fa fa-star active" aria-hidden="true"></i>
                      <i class="fa fa-star active" aria-hidden="true"></i>
                      <i class="fa fa-star active" aria-hidden="true"></i>
                      <i class="fa fa-star active" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <span class="count">(32)</span>
                    </span>
                  </div>
                  <div class="cm-course-item__details">
                    <h3>JavaScript Full Course</h3>
                    <div class="cm-course-item__info">
                      <span>
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        <a href="#">Autor 1</a>
                      </span>
                      <span>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        41 student
                      </span>
                    </div>
                  </div>
                </div>
          
                <div class="cm-course-item">
                  <div class="cm-course-item__thumbnail">
                    <img
                      src="../assets/img/course-electrical.jpg"
                      alt="Course - Javascript"
                      class="cm-course-item__img"
                    />
                    <div class="cm-course-item__hidden">
                      <button class="cm-btn">Detalji</button>
                    </div>
                    <span class="cm-course-item__popular">Popularan</span>
                    <span class="cm-course-item__price">$19.99</span>
                    <span class="cm-course-item__rating">
                      <span class="average">4.3</span>
                      <i class="fa fa-star active" aria-hidden="true"></i>
                      <i class="fa fa-star active" aria-hidden="true"></i>
                      <i class="fa fa-star active" aria-hidden="true"></i>
                      <i class="fa fa-star active" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <span class="count">(21)</span>
                    </span>
                  </div>
                  <div class="cm-course-item__details">
                    <h3>Električno inženjerstvo</h3>
                    <div class="cm-course-item__info">
                      <span>
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        <a href="#">Autor 2</a>
                      </span>
                      <span>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        29 student
                      </span>
                    </div>
                  </div>
                </div>
          
                <div class="cm-course-item">
                  <div class="cm-course-item__thumbnail">
                    <img
                      src="../assets/img/course-tw.jpg"
                      alt="Course - Javascript"
                      class="cm-course-item__img"
                    />
                    <div class="cm-course-item__hidden">
                      <button class="cm-btn">Detalji</button>
                    </div>
                    <span class="cm-course-item__popular">Popularan</span>
                    <span class="cm-course-item__price">$11.99</span>
                    <span class="cm-course-item__rating">
                      <span class="average">4.7</span>
                      <i class="fa fa-star active" aria-hidden="true"></i>
                      <i class="fa fa-star active" aria-hidden="true"></i>
                      <i class="fa fa-star active" aria-hidden="true"></i>
                      <i class="fa fa-star active" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <span class="count">(56)</span>
                    </span>
                  </div>
                  <div class="cm-course-item__details">
                    <h3>Tehničko pisanje</h3>
                    <div class="cm-course-item__info">
                      <span>
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        <a href="#">Autor 3</a>
                      </span>
                      <span>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        70 student
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <aside class="cm-course__secondary">
          <article class="cm-course__recent-courses">
            <h3>Skorašnji kursevi</h3>
            <div class="cm-course__recent-courses-content">
              <div class="cm-course__recent-courses-course">
                <div class="cm-course__recent-courses-thumb">
                  <img src="../assets/img/course-electrical.jpg" alt="Course 1" class="cm-course__recent-courses-img">
                </div>
                <div class="cm-course__recent-courses-detail">
                  <h2 class="cm-course__recent-courses-title">Kurs 1</h2>
                  <div class="cm-course__recent-courses-meta">
                    <div class="cm-course__recent-courses-price">$11.99</div>
                  </div>
                </div>
              </div>
              <div class="cm-course__recent-courses-course">
                <div class="cm-course__recent-courses-thumb">
                  <img src="../assets/img/course-history.jpg" alt="Course 2" class="cm-course__recent-courses-img">
                </div>
                <div class="cm-course__recent-courses-detail">
                  <h2 class="cm-course__recent-courses-title">Kurs 2</h2>
                  <div class="cm-course__recent-courses-meta">
                    <div class="cm-course__recent-courses-price">$11.99</div>
                  </div>
                </div>
              </div>
              <div class="cm-course__recent-courses-course">
                <div class="cm-course__recent-courses-thumb">
                  <img src="../assets/img/course-tw.jpg" alt="Course 3" class="cm-course__recent-courses-img">
                </div>
                <div class="cm-course__recent-courses-detail">
                  <h2 class="cm-course__recent-courses-title">Kurs 3</h2>
                  <div class="cm-course__recent-courses-meta">
                    <div class="cm-course__recent-courses-price">$11.99</div>
                  </div>
                </div>
              </div>
              <div class="cm-course__recent-courses-course">
                <div class="cm-course__recent-courses-thumb">
                  <img src="../assets/img/course-design.jpg" alt="Course 4" class="cm-course__recent-courses-img">
                </div>
                <div class="cm-course__recent-courses-detail">
                  <h2 class="cm-course__recent-courses-title">Kurs 4</h2>
                  <div class="cm-course__recent-courses-meta">
                    <div class="cm-course__recent-courses-price">$11.99</div>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="cm-course__ba">
            <div class="cm-course__ba-content">
              <h4 class="cm-course__ba-heading">Postanite autor</h4>
              <div class="cm-course__ba-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
              </div>
              <button class="cm-course__ba-btn">Priključite se</button>
            </div>
          </article>
        </aside>
      </div>
    </div>
  </section>