<li class="cm-course__reviews-comments-item">
  <div class="cm-course__reviews-comments-info">
    <div class="cm-course__reviews-comments-avatar">
      <img
        src="{{ student?.KORISNIK_AVATAR }}"
        alt="{{ student?.KORISNIK_IME }}"
        class="cm-course__reviews-comments-img"
      />
    </div>
    <div class="cm-course__reviews-comments-details">
      <h4 class="cm-course__reviews-comments-name">{{ student?.KORISNIK_IME }}</h4>
      <div class="cm-course__reviews-comments-stars">
        <i aria-hidden="true" class="fa fa-star" [ngClass]="{'active': ocena.OCENA_VREDNOST >= 1 ? true : false}"></i>
        <i aria-hidden="true" class="fa fa-star" [ngClass]="{'active': ocena.OCENA_VREDNOST >= 2 ? true : false}"></i>
        <i aria-hidden="true" class="fa fa-star" [ngClass]="{'active': ocena.OCENA_VREDNOST >= 3 ? true : false}"></i>
        <i aria-hidden="true" class="fa fa-star" [ngClass]="{'active': ocena.OCENA_VREDNOST >= 4 ? true : false}"></i>
        <i aria-hidden="true" class="fa fa-star" [ngClass]="{'active': ocena.OCENA_VREDNOST == 5 ? true : false}"></i>
      </div>
      <p class="cm-course__reviews-comments-content">
        {{ ocena.OCENA_KOMENTAR }}
      </p>
      <div class="cm-course__reviews-comments-actions" *ngIf="studentId == student?.KORISNIK_ID">
        <button class="cm-btn">Izmeni</button>
        <button class="cm-btn" (click)="deleteReview()">Obriši</button>
      </div>
    </div>
  </div>
</li>