<section class="cm-author">
    <div class="cm-author__container">
      <img src="{{ autor?.AUTOR_SLIKA }}" alt="{{ autor?.AUTOR_IME }}" class="cm-author__img" height="200" width="200">
      <div class="cm-author__content">
        <div class="cm-author__title">Autor</div>
        <h1 class="cm-author__heading">{{ autor?.AUTOR_IME }}</h1>
        <h2 class="cm-author__job">{{ autor?.AUTOR_ZANIMANJE }}</h2>
        <div class="cm-author__stats">
          <div class="cm-author__stat">
            <div class="cm-author__stat-title">Ukupno studenata</div>
            <div class="cm-author__stat-count">{{ brojStudenata }}</div>
          </div>
          <div class="cm-author__stat">
            <div class="cm-author__stat-title">Ocene</div>
            <div class="cm-author__stat-count">{{ brojOcena }}</div>
          </div>
        </div>
        <h2 class="cm-author__about-heading">O meni</h2>
        <p class="cm-author__about-text">{{ autor?.AUTOR_OPIS }}</p>
      </div>

      <div class="cm-author__courses">
        <h2 class="cm-author__courses-title">Moji kursevi ({{ kursevi?.length }})</h2>
        <div class="cm-author__courses-list">
          <div class="cm-course-item">
            <div class="cm-course-item__thumbnail">
              <img
                src="../assets/img/course-javascript.jpg"
                alt="Course - Javascript"
                class="cm-course-item__img"
              />
              <div class="cm-course-item__hidden">
                <button class="cm-btn">Detalji</button>
              </div>
              <span class="cm-course-item__popular">Popularan</span>
              <span class="cm-course-item__price">$11.99</span>
              <span class="cm-course-item__rating">
                <span class="average">4.5</span>
                <i class="fa fa-star active" aria-hidden="true"></i>
                <i class="fa fa-star active" aria-hidden="true"></i>
                <i class="fa fa-star active" aria-hidden="true"></i>
                <i class="fa fa-star active" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span class="count">(32)</span>
              </span>
            </div>
            <div class="cm-course-item__details">
              <h3>JavaScript Full course-item</h3>
              <div class="cm-course-item__info">
                <span>
                  <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                  <a href="#">Autor 1</a>
                </span>
                <span>
                  <i class="fa fa-users" aria-hidden="true"></i>
                  41 student
                </span>
              </div>
            </div>
          </div>
    
          <div class="cm-course-item">
            <div class="cm-course-item__thumbnail">
              <img
                src="../assets/img/course-electrical.jpg"
                alt="course-item - Javascript"
                class="cm-course-item__img"
              />
              <div class="cm-course-item__hidden">
                <button class="cm-btn">Detalji</button>
              </div>
              <span class="cm-course-item__popular">Popularan</span>
              <span class="cm-course-item__price">$19.99</span>
              <span class="cm-course-item__rating">
                <span class="average">4.3</span>
                <i class="fa fa-star active" aria-hidden="true"></i>
                <i class="fa fa-star active" aria-hidden="true"></i>
                <i class="fa fa-star active" aria-hidden="true"></i>
                <i class="fa fa-star active" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span class="count">(21)</span>
              </span>
            </div>
            <div class="cm-course-item__details">
              <h3>Električno inženjerstvo</h3>
              <div class="cm-course-item__info">
                <span>
                  <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                  <a href="#">Autor 2</a>
                </span>
                <span>
                  <i class="fa fa-users" aria-hidden="true"></i>
                  29 student
                </span>
              </div>
            </div>
          </div>
    
          <div class="cm-course-item">
            <div class="cm-course-item__thumbnail">
              <img
                src="../assets/img/course-tw.jpg"
                alt="course-item - Javascript"
                class="cm-course-item__img"
              />
              <div class="cm-course-item__hidden">
                <button class="cm-btn">Detalji</button>
              </div>
              <span class="cm-course-item__popular">Popularan</span>
              <span class="cm-course-item__price">$11.99</span>
              <span class="cm-course-item__rating">
                <span class="average">4.7</span>
                <i class="fa fa-star active" aria-hidden="true"></i>
                <i class="fa fa-star active" aria-hidden="true"></i>
                <i class="fa fa-star active" aria-hidden="true"></i>
                <i class="fa fa-star active" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span class="count">(56)</span>
              </span>
            </div>
            <div class="cm-course-item__details">
              <h3>Tehničko pisanje</h3>
              <div class="cm-course-item__info">
                <span>
                  <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                  <a href="#">Autor 3</a>
                </span>
                <span>
                  <i class="fa fa-users" aria-hidden="true"></i>
                  70 student
                </span>
              </div>
            </div>
          </div>
    
          <div class="cm-course-item">
            <div class="cm-course-item__thumbnail">
              <img
                src="../assets/img/course-history.jpg"
                alt="course-item - Javascript"
                class="cm-course-item__img"
              />
              <div class="cm-course-item__hidden">
                <button class="cm-btn">Detalji</button>
              </div>
              <span class="cm-course-item__popular">Popularan</span>
              <span class="cm-course-item__price">$19.99</span>
              <span class="cm-course-item__rating">
                <span class="average">4.8</span>
                <i class="fa fa-star active" aria-hidden="true"></i>
                <i class="fa fa-star active" aria-hidden="true"></i>
                <i class="fa fa-star active" aria-hidden="true"></i>
                <i class="fa fa-star active" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span class="count">(176)</span>
              </span>
            </div>
            <div class="cm-course-item__details">
              <h3>Istorija antičke Grčke</h3>
              <div class="cm-course-item__info">
                <span>
                  <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                  <a href="#">Autor 4</a>
                </span>
                <span>
                  <i class="fa fa-users" aria-hidden="true"></i>
                  201 student
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>