.cm-about {
  display: flex;
  flex-wrap: wrap;
  padding: 9rem 15rem;
  background-color: #f7f7f7;

  &__details {
    flex: 0 0 45%;
    margin-right: 5rem;

    & h1 {
      margin-bottom: 4rem;
      font-size: 3.6rem;
      font-weight: 700;
    }

    & p {
      margin-top: 1rem;
      font-size: 1.6rem;
      color: #555;
    }

    & button {
      margin-top: 4rem;
    }
  }

  &__img {
    flex: 0 0 50%;

    & img {
      height: auto;
      width: 100%;
    }
  }
}

.cm-numbers {
  padding: 9rem 12rem;
  background-color: #e91e63;

  &__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__col {
    flex: 1 1 25%;
  }

  &__col:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
  }

  &__main {
    text-align: center;

    & h1 {
      font-size: 4.2rem;
      font-weight: 700;
      color: #fff;
    }
  }

  &__sub {
    text-align: center;

    & span {
      font-size: 2rem;
      font-weight: 600;
      color: #fff;
    }
  }
}

.cm-featured-instructors {
  margin: 0 auto;
  padding: 9rem 0;
  width: 80%;
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.56) 0%,
      rgba(255, 255, 255, 0.96) 5%
    ),
    url("../../assets/img/bckg-featured.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 6rem auto;
    width: 80%;
  }

  &__col {
    flex: 0 0 33.3333%;
    padding: 0 1.5rem;
  }

  &__item {
    padding: 5rem 3rem;
    text-align: center;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 6rem -0.6rem rgba(10, 10, 10, 0.2);
    transition: all 0.3s;
  }

  &__item:hover {
    box-shadow: 0 0 3rem 0 rgba(10, 10, 10, 0.2);
  }

  &__thumb {
    border: 5px solid transparent;
    margin: 0 auto 2rem;
    max-width: 15rem;
    position: relative;
    border-radius: 50%;
  }

  &__thumb::before {
    content: "";
    position: absolute;
    top: -1rem;
    right: -1rem;
    bottom: -1rem;
    left: -1rem;
    height: 16rem;
    width: auto;
    border: 5px solid #e91e63;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: all 0.5s;
  }

  &__item:hover > &__thumb::before {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__img {
    border-radius: 50%;
  }

  &__item h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #303d48;
  }

  &__item span {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    color: #777;
  }

  &__item p {
    font-size: 1.6rem;
    opacity: 0.7;
  }
}

.cm-sponsors {
  padding: 9rem 12rem;

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__col {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding: 0 1.5rem;
  }

  &__logo {
    margin: 0 auto;
    height: auto;
    max-width: 100%;
  }
}

.cm-became-teacher {
  padding: 9rem 0;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.3)
    ),
    url("../../assets/img/bckg-bt.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__default {
    max-width: 40rem;
    margin: 0 auto;
    padding: 3.5rem 3rem 4rem;
    text-align: center;
    background-color: #e91e63;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 6rem -0.6rem rgba(10, 10, 10, 0.2);
  }

  &__icon {
    font-size: 5rem;
    margin-bottom: 1.5rem;
  }

  &__content {
    & h2 {
      margin-bottom: 0.8rem;
      font-size: 2.4rem;
      font-weight: 600;
    }

    & p {
      margin-bottom: 2rem;
      font-size: 1.6rem;
    }
  }
}