.cm-all-categories {
  margin-top: 6rem;

  &__main,
  &__sub {
    display: block;
    text-align: center;
  }

  &__main {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2.4rem;
    color: #516576;
  }

  &__sub {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 5rem;
    color: #303d48;
  }

  &__hr {
    display: block;
    height: 3px;
    width: 7rem;
    margin: 2rem auto;
    background-color: #e91e63;
  }
}

.cm-categories-list {
  display: flex;
  flex-wrap: wrap;
  margin: 6rem 15rem;
}

.cm-categories-item {
  position: relative;
  height: 32rem;
  flex: 0 1 calc(25% - 3rem);
  margin: 0 3rem 3rem 0;
}

.cm-categories-img {
  height: 100%;
  width: 100%;
}

.cm-categories-desc {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.5s;

  & h4,
  & p {
    transform: translateY(4rem);
    transition: all 0.7s;
  }

  & h4 {
    font-size: 2.2rem;
    color: #fff;
  }

  & p {
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
  }
}

.cm-categories-item:hover > .cm-categories-desc,
.cm-categories-item:focus > .cm-categories-desc {
  opacity: 1;
}

.cm-categories-item:hover > .cm-categories-desc > h4,
.cm-categories-item:hover > .cm-categories-desc > p,
.cm-categories-item:focus > .cm-categories-desc > h4,
.cm-categories-item:focus > .cm-categories-desc > p {
  transform: translate(0);
}

.cm-about {
  display: flex;
  flex-wrap: wrap;
  padding: 9rem 15rem;
  background-color: #f7f7f7;

  &__details {
    flex: 0 0 45%;
    margin-right: 5rem;

    & h1 {
      margin-bottom: 4rem;
      font-size: 3.6rem;
      font-weight: 700;
    }

    & p {
      margin-top: 1rem;
      font-size: 1.6rem;
      color: #555;
    }

    & button {
      margin-top: 4rem;
    }
  }

  &__img {
    flex: 0 0 50%;

    & img {
      height: auto;
      width: 100%;
    }
  }
}

.cm-popular-courses {
  margin: 6rem 0;
  text-align: center;

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 6rem auto;
    width: 90%;
  }

  &__item {
    margin: 0 2rem 2rem 0;
    width: 37rem;
    box-shadow: 0px 0px 6rem -0.6rem rgba(10, 10, 10, 0.2);
    border-bottom: 3px solid #e91e63;
    border-radius: 5px;
    overflow: hidden;
  }

  &__item:hover > &__thumbnail > &__hidden {
    opacity: 1;
  }

  &__item:hover > &__thumbnail > &__hidden > button {
    transform: translate(0);
  }

  &__thumbnail {
    position: relative;
    height: 30rem;
    width: 37rem;
  }

  &__img {
    height: 100%;
    width: 100%;
  }

  &__hidden {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.5s;

    & button {
      transform: translateY(4rem);
      transition: all 0.7s;
    }
  }

  &__popular {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 20;
    padding: 0.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: #e91e63;
    color: #fff;
  }

  &__price {
    position: absolute;
    left: 2rem;
    bottom: 2.5rem;
    z-index: 20;
    font-size: 2rem;
    color: #fff;
  }

  &__rating {
    position: absolute;
    right: 2rem;
    bottom: 2.5rem;
    z-index: 20;
    font-size: 1.4rem;
    color: #fff;

    & .average {
      font-size: 1.6rem;
      font-weight: 700;
      color: #be5a0e;
    }

    & i {
      margin: 0 0.2rem;
    }

    & .active {
      color: #eb8a2f;
    }

    & .count {
      color: #c4c2bb;
    }
  }

  &__details {
    padding: 2rem;

    & h3 {
      font-size: 2rem;
      font-weight: 600;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;

    & span {
      font-size: 1.6rem;
      color: #888080;
    }

    & span i {
      margin-right: 0.5rem;
    }

    & span a {
      color: inherit;
    }
  }
}

.cm-numbers {
  padding: 9rem 12rem;
  background-color: #e91e63;

  &__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__col {
    flex: 1 1 25%;
  }

  &__col:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
  }

  &__main {
    text-align: center;

    & h1 {
      font-size: 4.2rem;
      font-weight: 700;
      color: #fff;
    }
  }

  &__sub {
    text-align: center;

    & span {
      font-size: 2rem;
      font-weight: 600;
      color: #fff;
    }
  }
}

.cm-featured-instructors {
  margin: 0 auto;
  padding: 9rem 0;
  width: 80%;
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.56) 0%,
      rgba(255, 255, 255, 0.96) 5%
    ),
    url("../../assets/img/bckg-featured.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 6rem auto;
    width: 80%;
  }

  &__col {
    flex: 0 0 33.3333%;
    padding: 0 1.5rem;
  }

  &__item {
    padding: 5rem 3rem;
    text-align: center;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 6rem -0.6rem rgba(10, 10, 10, 0.2);
    transition: all 0.3s;
  }

  &__item:hover {
    box-shadow: 0 0 3rem 0 rgba(10, 10, 10, 0.2);
  }

  &__thumb {
    border: 5px solid transparent;
    margin: 0 auto 2rem;
    max-width: 15rem;
    position: relative;
    border-radius: 50%;
  }

  &__thumb::before {
    content: "";
    position: absolute;
    top: -1rem;
    right: -1rem;
    bottom: -1rem;
    left: -1rem;
    height: 16rem;
    width: auto;
    border: 5px solid #e91e63;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: all 0.5s;
  }

  &__item:hover > &__thumb::before {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__img {
    border-radius: 50%;
  }

  &__item h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #303d48;
  }

  &__item span {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    color: #777;
  }

  &__item p {
    font-size: 1.6rem;
    opacity: 0.7;
  }
}

.cm-sponsors {
  padding: 9rem 12rem;

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__col {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding: 0 1.5rem;
  }

  &__logo {
    margin: 0 auto;
    height: auto;
    max-width: 100%;
  }
}

.cm-became-teacher {
  padding: 9rem 0;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.3)
    ),
    url("../../assets/img/bckg-bt.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__default {
    max-width: 40rem;
    margin: 0 auto;
    padding: 3.5rem 3rem 4rem;
    text-align: center;
    background-color: #e91e63;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 6rem -0.6rem rgba(10, 10, 10, 0.2);
  }

  &__icon {
    font-size: 5rem;
    margin-bottom: 1.5rem;
  }

  &__content {
    & h2 {
      margin-bottom: 0.8rem;
      font-size: 2.4rem;
      font-weight: 600;
    }

    & p {
      margin-bottom: 2rem;
      font-size: 1.6rem;
    }
  }
}

.cm-footer {
  font-size: 1.6rem;

  &__widgets {
    padding: 7.5rem 0 4.5rem 0;
    background: #26282c;
    color: #999;
  }

  &__container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.5rem;
  }

  &__col {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    position: relative;
    margin: 0 0 3rem;
    padding: 0 1.5rem;

    @include respond(tablet) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    & h4 {
      margin-bottom: 3.5rem;
      font-size: 2rem;
      font-weight: 600;
      color: #fff;
    }
  }

  &__text {
    & p {
      margin: 0 0 1rem;
    }
  }

  &__img {
    height: auto;
    max-width: 17rem;
    margin-bottom: 0.7rem;
  }

  &__menu {
    margin: 0;
    padding: 0;
    list-style-type: disc;

    &-item {
      position: relative;
      list-style: none;
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem;
      padding: 1rem 0;
      border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);

      & a {
        padding-left: 2rem;
        color: #fff;
        transition: all 0.4s ease-out;
      }

      & a:hover {
        color: #e91e63;
      }
    }

    &-item::before {
      content: "";
      position: absolute;
      left: 0;
      right: 100%;
      bottom: -1px;
      height: 1px;
      background-color: #e91e63;
      transition: all 0.3s ease-out;
      transition-property: right;
    }

    &-item:hover::before {
      right: 0;
    }

    &-item::after {
      content: "";
      position: absolute;
      left: 0;
      top: 2.4rem;
      display: block;
      width: 0.4rem;
      height: 0.4rem;
      background-color: #e91e63;
    }
  }

  &__contact-info {
    & ul {
      margin: 0;
      padding: 0;
    }

    & ul li {
      display: block;
      padding-bottom: 0;
      margin-bottom: 1rem;
    }
  }

  &__contact-icon {
    display: table-cell;
    padding: 0.4rem 1rem 0 0;
    vertical-align: top;
  }

  &__content {
    display: table-cell;
  }

  &__heading {
    display: block;
    margin: 0 1rem 0.5rem 0;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
  }

  &__site-info {
    padding: 0 10rem;
    font-size: 1.5rem;
    background-color: #202026;
    color: #999;

    & p {
      padding: 1.5rem 0;
    }
  }
}

.cm-registration {
  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  &__content {
    margin: 9rem 0;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    padding: 0 1.5rem;
  }

  &__heading {
    font-size: 3rem;
    text-align: center;
  }

  &__form {
    margin-top: 2rem;
  }

  &__control {
    margin-bottom: 1rem;
  }

  &__label {
    display: block;
    margin: 0.8rem 0;
    max-width: 100%;
    font-size: 1.6rem;
    font-weight: 700;
    color: #333;
  }

  &__input {
    width: 100%;
    padding: 0.8rem 1.2rem;
    font-family: inherit;
    font-size: 1.6rem;
    color: #666;
    border: 2px solid #ccc;
    border-radius: 3px;
    transition: all 0.4s ease-out;
  }

  &__input:focus {
    border-color: #e91e63;
  }

  &__checkbox {
    margin-right: 1rem;
  }

  &__checkbox + &__label {
    display: inline;
  }

  &__submit {
    width: 100%;
  }

  &__login {
    font-size: 1.6rem;
    text-align: center;
  }

  &__link {
    font-weight: 700;
    color: #333;
    transition: all 0.3s ease-out;
  }

  &__link:hover {
    color: #e91e63;
  }
}

.cm-404 {
  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  &__content {
    margin: 9rem 0;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    padding: 0 1.5rem;
    text-align: center;
  }

  &__heading {
    font-size: 5.6rem;
    font-weight: 700;
    color: #303d48;
  }

  &__desc {
    margin-bottom: 3rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #516576;
  }
}
